/*Tarjeta flotante*/

.card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    background-color: #f0f0f0;
    box-shadow: -2px 0 10px black;
    color: black;   
    font-family: cursive;
}
